@import "variables";
@function anchoColumnas($columns) {
  @return percentage(($columns/12));
}

@for $numColumna from 1 through 12 {
  .col-#{$numColumna}{
    width: anchoColumnas($numColumna);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0px auto;
}

.row {
  &:before{
    content: " ";
    display: table;
  }
  &:after{
    @extend .row:before;
    clear: both;
  }
}

[class*="col-"]{
  min-height: 7px;
  padding: 12px;
  float: left;
}

.titles {
  font-size: $font-size-titles;
  font-weight: bold;
}

.subtitles {
  color: $text-gray;
  font-size: $font-size-subtitles;
  padding:2%;
}

.date {
  font-size: $date;
  color: $text-gray;
}

.text-gray {
  color: $text-gray;
  padding-bottom: 3%;
}

.center {
  text-align: center;
}

.division {
  border-top: 3px solid $color-blue;
}

img{
  @extend .col-12;
}

.boton-redondo {
  border-radius: 100%;
  background-color: purple;
}

.nav-footer {
  text-align: center;
  border-top: 1px solid $ligth-gray;
  border-bottom: 1px solid $ligth-gray;
  padding-top: 1%;
  & img {
    @extend .col-3;
  }
}

.items {
  display: inline-block;
  @extend .col-1;
}

#blue-light {
  background-color: lighten($color-blue, 30%);
  margin-bottom: 2%;
}
